---
import { Toaster } from "@/components/ui/sonner";
import "@/styles/global.css";
import UserNav from "@/components/auth/UserNav";

const { title } = Astro.props;
const user = Astro.locals.user;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<header class="bg-white border-b">
			<div class="container mx-auto px-4 py-4 flex justify-end">
				<UserNav user={user} client:only="react" />
			</div>
		</header>
		<main class="flex-1 container mx-auto px-4 py-8">
			<slot />
		</main>
		<Toaster richColors closeButton client:only="react" />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
